# Node
node_modules/
.env

# Python venv
venv/
ml_service/venv/

# Dataset (optional)
*.csv

# Build folders
dist/
build/

# System files
__pycache__/
.DS_Store
Thumbs.db

# --- General ---
.DS_Store
.env
*.log
*.tmp

# --- Python (ML Service) ---
ml_service/__pycache__/
ml_service/venv/
ml_service/.env
ml_service/.DS_Store
ml_service/*.pyc

# --- IDE / Editor Files ---
.vscode/
.idea/
*.swp


